.header-text{
  color: white;
  text-align: center;
  flex: 1  1 auto;
  font-family: Lora;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}

.background{
  background-color: rgb(75,31,82);
}

.mat-icon-button{
  background-color: rgb(75,31,82);
  border: none;
  color: rgb(203, 235, 74);
  height: 25px;
  /*width: 5%;*/
}

.icon{
  font-size: 50px;
}

a, .mat-menu-item > span, a {
  color: #424242 ;
  text-decoration: none;
}

.mat-menu-item:hover {
  background: rgb(198, 229, 92);
}

.mat-menu {
  background: rgb(203, 235, 74);
}

.mat-button-base {
  background: none;
}
