<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" />

  <div>
    <mat-toolbar class="background">
      <a routerLink="/main-page">
        <button class="mat-icon-button" aria-label="Redirect home page">
          <mat-icon class="icon">track_changes</mat-icon>
        </button>
      </a>

        <span class="header-text"><a routerLink="/main-page" class="header-text">{{'dorywcza.pl'}}</a></span>

      <a  *ngIf="userDTO; else elseBlock"
          routerLink="/user-update-profile/{{userDTO.id}}">
        <div *ngIf="userDTO.avatar && userDTO.avatar.url && userDTO.avatar.name; else elseBlock">
          <img src="{{path}}{{userDTO.avatar.url}}" alt="picture id {{userDTO.avatar.name}}" width="50px" height="auto" >
        </div>
      </a>
      <ng-template #elseBlock>
        <button class="mat-icon-button"  aria-label="Login/Register/Account settings">
          <mat-icon class="icon">account_circle</mat-icon>
        </button>
      </ng-template>
    </mat-toolbar>
  </div>

