
<mat-card>
  <mat-card-title>Profile</mat-card-title>
  <a *ngIf="userPublicDTO && userPublicDTO.id" routerLink="/user-update-profile/{{userPublicDTO.id}}"><div>Edytuj</div></a>
  <mat-card-content>
    <ul *ngIf="userPublicDTO">
      <li>username: {{userPublicDTO.userName}}</li>
      <li>rating: {{userPublicDTO.overallRating}}</li>
      <li>email: {{userPublicDTO.email}}</li>
      <li>about me: {{userPublicDTO.description}}</li>
      <li *ngIf="userPublicDTO.avatar && userPublicDTO.avatar.url">
        <mat-card class="avatar-in-profile">
          <img mat-card-image src="{{path}}{{userPublicDTO.avatar.url}}" alt="picture id {{userPublicDTO.avatar.name}}" width="10em" height="auto">
          <app-upload-image [userId]="userPublicDTO.id"></app-upload-image>
        </mat-card>
      </li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Personal Data</mat-card-title>
  <mat-card-content>
    <ul *ngIf="userPublicDTO">
      <li>full name: {{userPublicDTO.firstName}} {{userPublicDTO.lastName}}</li>
      <li>address: {{userPublicDTO.street}}</li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Experience</mat-card-title>
  <mat-card-content>
    <ul *ngIf="userPublicDTO">
      <li>experience: {{userPublicDTO.experienceDescription}}</li>

        <mat-grid-list [cols]="breakpoint"  (window:resize)="onResize($event)">
          <mat-grid-tile *ngFor="let picture of userPublicDTO.pictures">
            <img mat-card-image src="{{path}}{{picture.url}}" alt="{{picture.name}}">
          </mat-grid-tile>
        </mat-grid-list>


    </ul>
  </mat-card-content>
</mat-card>
