
<div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center" >

  <mat-card fxFlex >
    <div class="edit-heading">
      <div class="edit-heading-element" >Ogólne informacje</div>
      <div class="edit-heading-element">
        <a *ngIf="userPublicDTO && userPublicDTO.id" routerLink="/user-update-profile/{{userPublicDTO.id}}">
          <span class="material-icons">edit</span>
        </a>
      </div>
    </div>

    <mat-card-content>

      <div fxLayout="row" fxLayoutAlign="space-between stretch" class="profile-elements-group">
        <div fxFlex="25%">
          <div class="card-avatar" *ngIf="userPublicDTO && userPublicDTO.avatar && userPublicDTO.avatar.url; else iconBlock">
            <img mat-card-avatar
                 src="{{path}}{{userPublicDTO.avatar.url}}" alt="{{userPublicDTO.avatar.name}}">
          </div>
          <ng-template #iconBlock>
            <mat-icon class="avatar-icon" >account_circle</mat-icon>
          </ng-template>
          <div class="upload-mark">
            <app-upload-image [userId]="userPublicDTO?.id" [avatarParamValue]="true" [changeIcon]="true"></app-upload-image>
          </div>
        </div>

        <div fxFlex *ngIf="userPublicDTO && userPublicDTO.userName; else noNameBlock" class="name">
          {{userPublicDTO.userName}}
        </div>
        <ng-template #noNameBlock >
          <div fxFlex class="name">
            {{'Nazwa użytkownika'}}
          </div>
        </ng-template>

        <div aria-label="rating" fxFlex="10%" class="rating-mark">
          <mat-icon><span>star_rate</span></mat-icon>
        </div>
      </div>

      <div aria-label="personal-details" class="user-personal-details">
        <div *ngIf="!userPublicDTO?.firstName">Imię:</div>
        {{userPublicDTO?.firstName}} <br>
        <div *ngIf="!userPublicDTO?.lastName">Nazwisko:</div>
        {{userPublicDTO?.lastName}}
      </div>

      <div aria-label="contact-details" class="user-personal-details">
        {{userPublicDTO?.email}} <br>
        <div *ngIf="!userPublicDTO?.phoneNumber">Numer telefonu:</div>
        {{userPublicDTO?.phoneNumber}}
      </div>

      <div  aria-label="address" class="user-personal-details">
        <div *ngIf="!userPublicDTO?.city">Adres:</div>
        {{userPublicDTO?.street}} {{userPublicDTO?.flatNumber}} <br>
        {{userPublicDTO?.zipCode | zipcode }} {{userPublicDTO?.city}}
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex >
    <div class="edit-heading">
      <div class="edit-heading-element" >Opis</div>
      <div class="edit-heading-element">
        <a *ngIf="userPublicDTO && userPublicDTO.id" routerLink="/user-update-profile/{{userPublicDTO.id}}">
          <span class="material-icons">edit</span>
        </a>
      </div>
    </div>

    <mat-card-content>
      <div *ngIf="! userPublicDTO?.description || userPublicDTO?.description?.length ==0">Opis</div>
      <div>{{userPublicDTO?.description}}</div>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex >
    <div class="edit-heading">
      <div class="edit-heading-element" >Doświadczenie</div>
      <div class="edit-heading-element">
        <a *ngIf="userPublicDTO && userPublicDTO.id" routerLink="/user-update-profile/{{userPublicDTO.id}}">
          <span class="material-icons">edit</span>
        </a>
      </div>
    </div>

    <mat-card-content>
      <div *ngIf="! userPublicDTO?.experienceDescription || userPublicDTO?.experienceDescription?.length ==0">Doświadczenie</div>
      <div>{{userPublicDTO?.experienceDescription}}</div>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex >
    <div class="edit-heading">
      <div class="edit-heading-element" >Realizacje</div>
      <div class="edit-heading-element">
        <app-upload-image [avatarParamValue]="false" [userId]="userPublicDTO?.id" [changeIcon]="false">
        </app-upload-image>
      </div>
    </div>

    <mat-card-content>
      <div *ngIf="! userPublicDTO?.pictures || userPublicDTO?.pictures?.length ==0">Realizacje</div>
      <div *ngIf="userPublicDTO" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="0.5%" fxLayoutAlign="flex-start">
        <mat-card class="card-picture"  *ngFor="let picture of userPublicDTO.pictures" >
          <img mat-card-image src="{{path}}{{picture.url}}" alt="{{picture.name}}">

          <div class="edit-heading">

              <div class="delete-image"  >
                <span *ngIf="picture.id" (click)="deleteImage($event, picture.id)" class="material-icons">
                  delete
                </span>

            </div>
          </div>

        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
