
<div fxLayout="row" class="container">

  <div *ngFor="let industryParent of industries">
    <ng-container *ngTemplateOutlet="industryElement; context:{value: industryParent}"></ng-container>
  </div>

</div>

<ng-template #industryElement let-industry="value">
<div  fxLayout="row" fxFlexAlign="start" >
  <span class="material-icons">navigate_next</span>
  <div class="industry-align" routerLink="/service-offers" [queryParams]="{industryId: industry.id}">{{industry.name}}</div>
</div>
</ng-template>
