
<div *ngIf="offerDTO">


    <mat-card-content class="data-range">{{offerDTO.dateRangeDTO.startDate}} - {{offerDTO.dateRangeDTO.endDate}}</mat-card-content>
    <mat-card-content class="location">{{offerDTO.offerLocationDTO.cityName}}</mat-card-content>
    <mat-card-title class="title"><a routerLink="/{{loc}}/{{offerDTO.id}}">{{offerDTO.title}}</a></mat-card-title>



<span>
    <mat-card-content class="user-name">{{offerDTO.userSimplifiedDTO.email}}</mat-card-content>
    <mat-card-content class="salary">{{offerDTO.salaryDTO.minSalary}} - {{offerDTO.salaryDTO.maxSalary}} {{offerDTO.salaryTimeUnitDTO.name}}</mat-card-content>
</span>


</div>
