
<div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center"  *ngIf="offerDTO">
  <mat-card-header>{{offerDTO.industryDTO.name}} -> podkategoria</mat-card-header>

  <mat-card fxFlex>
    <mat-card-title fxLayoutAlign="center">{{offerDTO.title}}</mat-card-title>
    <mat-card-subtitle fxLayoutAlign="center">potrzebny od {{offerDTO.dateRangeDTO.startDate}} do {{offerDTO.dateRangeDTO.endDate}}</mat-card-subtitle>
  </mat-card>
  <mat-card fxFlex>
    <mat-card-title>
      <img *ngIf="offerDTO.userSimplifiedDTO.avatar" mat-card-avatar src="{{path}}{{offerDTO.userSimplifiedDTO.avatar.url}}" alt="picture id {{offerDTO.userSimplifiedDTO.avatar.name}}">
      {{offerDTO.userSimplifiedDTO.email}}
    </mat-card-title>
      {{offerDTO.description}}
  </mat-card>
  <mat-card fxFlex>
    <mat-card-title fxLayoutAlign="center" class="extraTitle">Dodatkowe informacje</mat-card-title>
    <mat-card-content>
      wynagrodzenie: {{offerDTO.salaryDTO.minSalary}}zł. - {{offerDTO.salaryDTO.maxSalary}}zł. / {{offerDTO.salaryTimeUnitDTO.name}}
    </mat-card-content>
    <mat-card-content>
      wymagane doświadczenie: <span *ngIf="offerDTO.hasExperience; else elseBlock">TAK</span> <ng-template #elseBlock>NIE</ng-template>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex>
    <mat-card-title fxLayoutAlign="center" class="extraTitle">Niezbędne wymagania</mat-card-title>
    <app-tag-detail [tagList]="offerDTO.tagsNames"></app-tag-detail>
  </mat-card>


  <google-map [center]="{lat: offerDTO.offerLocationDTO.xposition, lng:offerDTO.offerLocationDTO.yposition}">
    <map-marker
      [position]="{lat: offerDTO.offerLocationDTO.xposition, lng:offerDTO.offerLocationDTO.yposition}"
    ></map-marker>
  </google-map>
</div>

