mat-card {

  height: 85px;
  width: 45%;
  position: relative;
  margin: 5px;
  top: 25px;
  left: 25%;
  background-color: lightgray;
  color: rgb(75, 31, 82);
}

mat-paginator {
  background: rgb(75,31,82);
  margin: 5px;
}

#paginator-div {
  padding-top: 25px;
  display: block;
}
