<section>
  <div class="example-button-row">
    <ul>
      <li>
        <button mat-raised-button color="primary">DODAJ OGŁOSZENIE</button>
      </li>
      <li>
        <button mat-raised-button color="primary" routerLink="/add-service-offer/first">ZAOFERUJ USŁUGI</button>
      </li>
    </ul>
  </div>
</section>
<section>
  <div>
      <div >
        <ul>
          <li>
            <button routerLink="/jobs" mat-button class="offer-buttons">OFERTY PRACY</button>
          </li>
          <li>
            <button routerLink="/service-offers" mat-button class="offer-buttons">OFEROWANE USŁUGI</button>
          </li>
        </ul>
      </div>
  </div>
</section>
