
<div *ngIf="offerDTO">
  <table>
    <tr>
      <td>{{offerDTO.title}}</td>
    </tr>
    <tr>
      <td>{{offerDTO.userSimplifiedDTO.email}}</td>
      <td>{{offerDTO.salaryDTO.minSalary}} - {{offerDTO.salaryDTO.maxSalary}} {{offerDTO.salaryTimeUnitDTO.name}}</td>
    </tr>
    <tr>
      <td>{{offerDTO.dateRangeDTO.startDate}} - {{offerDTO.dateRangeDTO.endDate}}</td>
      <td>{{offerDTO.offerLocationDTO.xposition}}, {{offerDTO.offerLocationDTO.yposition}}</td>
    </tr>
    <tr>
      <td>{{offerDTO.cityName}}</td>
    </tr>
  </table>
</div>

